* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Mulish", sans-serif;
  background-color: #f5f5f5;
  padding: 0;
  margin: 1rem 0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* mobile first */
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 2rem;
  background-color: #fff;
  animation: fadeIn 1.5s;
}

.formData {
  padding: 2rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


a {
  color: #333333;
}

.formTitle {
  margin-bottom: 2rem;
}

input[type="text"],
input[type="password"],
input[type="tel"],
select {
  width: 100%;
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #d5d3de;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
select:focus {
  outline: none;
  border: 1px solid #5379ff;
}

button {
  width: 100%;
  height: 50px;
  background-color: #333333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

button:hover {
  background-color: #ccc;
  color: #000000;
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}

label {
  margin-bottom: 1rem;
}

/* tablet */
@media (min-width: 768px) {
  .container {
    width: 90%;
    flex-direction: row-reverse;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    border-radius: 4px;
    margin: auto;
  }

  .formData {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
  }

  .image {
    display: flex;
    flex-grow: 1;
    align-content: flex-end;
    max-width: 80vh;
  }
}

/* desktop */
@media (min-width: 1536px) {
  .formData {
    padding: 2rem 5rem;
  }
}


.eye {
  float: right;
  margin-bottom: 1rem;
  cursor: pointer;
}

.icons {
  position: relative;
}

.icons img {
  position: absolute;
  right: 10px;
  bottom: 30px;
}

.thanks {
  display: none;
  padding: 2rem;
  width: 500px;
}